<h1 class="page-title">{{ 'cart.header' | t }}</h1>

{% if cart.item_count > 0 %}

  <form action="/cart" method="post">

    <table class="cart-items clean">
      <thead>
        <tr>
          <th class="first" colspan="2">{{ 'general.price' | t }}</th>
          <th>{{ 'general.quantity' | t }}</th>
          <th class="last">{{ 'general.total' | t }}</th>
        </tr>
      </thead>

      <tbody>
        
        <script>mixed_cart = false;</script>
        {% assign show_paypal = true %} 
        {% for item in cart.items %}
        {% assign prod_index = forloop.index0 %} 
        <input type="hidden" name="product_id[{{ forloop.index0 }}]" value="{{ item.product.id }}">
        <input type="hidden" name="variant_id[{{ forloop.index0 }}]" value="{{ item.variant.id }}">
        <input type="hidden" name="quantity[{{ forloop.index0 }}]" value="{{ item.quantity }}">
          <tr class="cart-item variant-{{ item.variant.id }} {% include 'for-looper' %}" data-variant="{{ item.variant.id }}" data-title="{{ item.product.title }}" data-url="{{ item.url }}">
            <td class="cart-item-product first">
              <a class="cart-image" href="{{ item.url }}"><img src="{{ item | img_url: 'small' }}" alt="{{ item.product.title }}"></a>
              <div class="cart-item-product-wrap">
                <span class="cart-title"><a href="{{ item.url }}">{{ item.product.title }}</a></span>
                 
                <!-- bold-ro-liquid -->
                {% for p in item.properties %}
                {% if p.first == "frequency_num" %}
                <script>
                  mixed_cart = true;
                </script>
                <br>
                <span class="bold_ro_every">Every</span>
                <input type="hidden" name="{{ prod_index }}[number]" value={{p.last}} />
                {% endif %}

                {% if p.first == "frequency_type" %}
                <input type="hidden" name="{{ prod_index }}[type_id]" value={{p.last}} />
                {% endif %}

                {% if p.first == "frequency_num" or p.first == "frequency_type_text" %}
                {{ p.last }}
                {% endif %}
                {% if p.first == "group_id" %}
                {% assign show_paypal = false %}
                <input type="hidden" name="{{ prod_index }}[group_id]" value={{p.last}} />
                {% endif %}
                {% if p.first == "discounted_price" %}
                <br><span class="bold_ro_discounted_price">Discounted Price</span>
                <span class="discounted_price_in_cart">{{ p.last }} </span> <span class="bold_ro_each">each</span>
                {% endif %}
                {% endfor %}
                <!-- bold-ro-liquid -->

                <span class="cart-vendor vendor">{{ item.vendor }}</span>
                {% unless item.variant.title == 'Default Title' %}
                <span class="cart-variant">{{ item.variant.title }}</span>
                {% endunless %}
                {% if settings.disable-ajax or settings.show-currency-switcher %}
                  <a class="cart-item-remove bold-ro-remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">{{ 'general.remove' | t }}</a>
                {% else %}
                <span class="cart-item-remove bold-ro-remove">{{ 'general.remove' | t }}</span>
                {% endif %}
              </div>
            </td>

            <!-- FIX RO ITEM PRICES -->
            {% if item.properties.discounted_price != blank %}
            {% assign ro_price = item.properties.discounted_price %}
            {% assign ro_first_character = ro_price | remove: ' ' | slice: 0 %}
            {% assign ro_first_character_test = ro_first_character | plus: 0 %}

            {% if ro_first_character_test == 0 %}
            {% assign ro_price = ro_price | remove: ro_first_character %}
            {% endif %}

            {% assign ro_item_price = ro_price | split: ' ' | first | times: 100 %}
            {% assign ro_line_item_price = ro_item_price | times: item.quantity %}

            {% else %}
            {% assign ro_item_price = item.price %}
            {% assign ro_line_item_price = item.line_price %}    
            {% endif %}
            <!-- END RO ITEM PRICES -->

            <td class="cart-item-price"><span class="money">{{ ro_item_price | money }}</span></td>
            <td class="cart-item-quantity" {% unless item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' %}data-max="{{ item.variant.inventory_quantity }}"{% endunless %}>
              <input type="text" name="updates[]" class="cart-item-quantity-display" value="{{ item.quantity }}" size="1">
              <span class="cart-item-decrease icon">&#57364;</span>
              <span class="cart-item-increase icon">&#57365;</span>
            </td>
            <td class="cart-item-total last"><span class="money">{{ item.quantity | times: ro_item_price | money }}</span></td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

    <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" > 
    <input name="email" type="hidden" value="{{ customer.email }}" > 
    <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" > 
    <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" > 
    <input name="city" type="hidden" value="{{ customer.default_address.city }}" > 
    <input name="company" type="hidden" value="{{ customer.default_address.company }}" > 
    <input name="country" type="hidden" value="{{ customer.default_address.country }}" > 
    <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" > 
    <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" > 
    <input name="phone" type="hidden" value="{{ customer.default_address.phone }}" > 
    <input name="province" type="hidden" value="{{ customer.default_address.province }}" > 
    <input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >
    {% include 'bold-ro-cart' %}

    <div class="cart-tools">

      {% if settings.cart-show-special-instructions %}
      <div class="cart-instructions">
        <p>{{ 'cart.instructions_title' | t }}</p>
        <textarea rows="3" name="note" placeholder="{{ 'cart.instructions_placeholder' | t }}">{{ cart.note }}</textarea>

        <p><label for="source">How did you hear about us?</label></p>
        <select type="text" name="attributes[source-type]" value="{{ cart.attributes.source-type }}" placeholder="Source..." required />
          <option value="">Pick an option</option>
          <option value="dale"{% if cart.attributes.source-type == 'dale' %} selected="selected"{% endif %}>Dale Noack</option>
          <option value="stephanie"{% if cart.attributes.source-type == 'stephanie' %} selected="selected"{% endif %}>Stephanie McMillan</option>
          <option value="michael"{% if cart.attributes.source-type == 'michael' %} selected="selected"{% endif %}>Michael McMillan</option>
          <option value="facebook"{% if cart.attributes.source-type == 'facebook' %} selected="selected"{% endif %}>Facebook</option>
          <option value="twitter"{% if cart.attributes.source-type == 'twitter' %} selected="selected"{% endif %}>Twitter</option>
          <option value="instagram"{% if cart.attributes.source-type == 'instagram' %} selected="selected"{% endif %}>Instagram</option>
          <option value="none"{% if cart.attributes.source-type == 'none' %} selected="selected"{% endif %}>None of these</option>
        </select>   
      </div>
      {% endif %}

      <div class="cart-totals">
        <p class="cart-price">
          {% include 'bold-ro-price-fix' %}
          <span class="money">{{ ro_cart_total | money }}</span></p>
        <p class="cart-message meta">{{ 'cart.tax_and_shipping' | t }}</p>

          <input type="submit" name="update" value="{{ 'cart.update_button' | t }}" class="secondary">
          <input type="submit" name="checkout" value="{{ 'cart.submit' | t }}">


        {% if additional_checkout_buttons and show_paypal %}
          <div class="cart-additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {% endif %}

        {% if settings.show-currency-switcher %}
          <p class="cart-currency-note meta">{{ 'cart.currency_note_html' | t: currency: shop.currency }}</p>
        {% endif %}
      </div>

    </div>

  </form>

  <div class="cart-modal-wrapper">
    <div class="cart-modal">
      <h3 class="section-title"></h3>

      <div class="cart-modal-message"></div>

      <div class="cart-modal-action"></div>
    </div>
  </div>

  {% if settings.show-shipping-calculator %}
  <div class="cart-shipping-calculator-wrapper">
    <div id="shipping-calculator" class="cart-shipping-calculator">

      <p>{{ 'cart.shipping_calculator.header' | t }}</p>

      <div class="shipping-country-wrapper hide-labels">
        <div class="country-select select-wrapper">
          <div class="selected-text" data-default="Select country">{{ 'cart.shipping_calculator.country' | t }}</div>
          <select class="styled-select address-country" id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
        </div>
      </div>

      <div id="address_province_container" class="shipping-province-wrapper">
        <div class="province-select select-wrapper">
          <div class="selected-text" data-default="Select province">{{ 'cart.shipping_calculator.province' | t }}</div>
          <select class="styled-select address-province" id="address_province" class="address_form" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
        </div>
      </div>

      <div class="cart-shipping-zip-code input-wrapper">
        <input type="text" size="12" class="address-zip" id="address_zip" placeholder="{{ 'customer.addresses.zip' | t }}" name="address[zip]" {% if shop.customer_accounts_enabled and customer %}value="{{ customer.default_address.zip }}"{% endif %} />

        <input type="button" class="cart-shipping-calculate get-rates" value="{{ 'cart.shipping_calculator.submit' | t }}" />
      </div>
    </div>

    <div class="cart-shipping-calculator-response">
    </div>
  </div>
  {% endif %}

{% else %}

  <p class="empty">{{ 'cart.empty' | t }} <a href="{{ shop.url }}/collections/all">{{ 'cart.continue' | t }}</a></p>

{% endif %}

<script>
$(document).on("click","[name='recurring_radio_btn']", function() {

    if($('.recurring_div').hasClass('bold_active')){
        $('.cart-additional-checkout-buttons').hide();
    }else{
        $('.cart-additional-checkout-buttons').show();
    }
});

</script>

