{% capture tech_page_handle %}{{ page.handle | append: '-the-technology' }}{% endcapture %}
{% capture founders_page_handle %}{{ page.handle | append: '-the-founders' }}{% endcapture %}

<h1 class="page-title">FEEL<br>
THE<br>
VIVE</h1>

<div class="home-in-line-features">
	<h2>{{ pages[tech_page_handle].title | remove_first: "About" }}</h2>
	{{ pages[tech_page_handle].content }}
</div>

<div class="rte contrast">
  {{ page.content }}
</div>

<div class="home-full-width-feature has-content">
	<h2>{{ pages[founders_page_handle].title }}</h2>
	<div class="rte">
		{{ pages[founders_page_handle].content }}
	</div>
</div>
