{% assign selectedVariant = product.selected_or_first_available_variant | default: product %}

<div itemscope itemtype="http://schema.org/Product">
  <h1 class="page-title" itemprop="name">{{ product.title }}</h1>

  {% include 'product-page-details' %}

  {% include 'product-page-image' %}

  <div class="product-wrap">

    <div class="product-details">
      {% if settings.product-display-vendor %}
        <p class="meta vendor" itemprop="brand">{{ product.vendor }}</p>
      {% endif %}
      <p class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <span class="price" itemprop="price">
          <span class="money">{{ selectedVariant.price | money }}</span>

          {% unless product.variants.size == 1 and product.compare_at_price_min <= selectedVariant.price %}
            <span class="original money">
              {% if selectedVariant.compare_at_price > selectedVariant.price %}
                {{ selectedVariant.compare_at_price | money }}
              {% endif %}
            </span>
          {% endunless %}
        </span>
      </p>
    </div>

    <form class="product-form" action="/cart/add" method="post">

      {% if product.variants.size > 1 %}
        <div class="product-options">
          <select name="id" id="product-select" class="product-select">
            {% for variant in product.variants %}
              <option {% if variant == selectedVariant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
            {% endfor %}
          </select>
        </div>
      {% else %}
        <input type="hidden" name="id" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
      {% endif %}

      <div class="input-wrapper product-quantity">
        <label for="quantity">{{ 'general.quantity' | t }}</label>
        <input type="text" name="quantity" id="quantity" value="1" />
      </div>

      <div class="add-to-cart cf">
        {% if product.available %}
          <div class="product-form-submit-wrap left">

            {% if product.metafields.chargify.hosted_signup_url %}
              <a class="button" style="margin-bottom: 5px" href="{{ product.metafields.chargify.hosted_signup_url }}">Signup</a>
            {% else %}
              <input type="submit" value="{{ 'products.product.add_to_cart' | t }}" />
            {% endif %}

            <div class="add-to-cart-loader"></div>
          </div>

          <p class="product-add-success-message left"><a class="button secondary" href="/checkout">{{ 'products.product.checkout_link' | t }}</a></p>

          {% capture cart_link %}
            <a href="/cart">{{ 'products.product.cart_link' | t }}</a>
          {% endcapture %}
          {% capture continue_link %}
            <a href="/collections/vive-subscriptions">{{ 'products.product.continue_link' | t }}</a>
          {% endcapture %}
          {% capture checkout_link %}
            <a href="/checkout">{{ 'products.product.checkout_link' | t }}</a>
          {% endcapture %}
          {% capture product_item %}
            <span class='added-product-name'></span>
          {% endcapture %}
          <div style="clear:both; height: 0;">&nbsp;</div>
          <p class="product-add-success-message">{{ 'products.product.success_html' | t: cart_link: cart_link, continue_link: continue_link, checkout_link: checkout_link, product: product_item  }}</p>

          <p class="product-add-error-message"></p>
        {% else %}
          <input type="button" class="disabled" disabled="disabled" value="{{ 'products.product.sold_out' | t }}" />
        {% endif %}
      </div>

    </form>

    {% if product.description.size > 0 %}
    <div class="product-description rte" itemprop="description">
      {{ product.description }}
    </div>
    {% endif %}

    {% if settings.product-show-info-link-1 or settings.product-show-info-link-2 %}
    <div class="product-more-info">
      {% if settings.product-show-info-link-1 %}
        <p class="product-info-link {{ settings.product-info-link-icon-1 }}">
          {% if settings.product-info-link-url-1.size > 0 %}<a href="{{ settings.product-info-link-url-1 }}">{% endif %}
            {{ settings.product-info-link-text-1 }}
          {% if settings.product-info-link-url-1.size > 0 %}</a>{% endif %}
        </p>
      {% endif %}

      {% if settings.product-show-info-link-2 %}
        <p class="product-info-link {{ settings.product-info-link-icon-2 }}">
          {% if settings.product-info-link-url-2.size > 0 %}<a href="{{ settings.product-info-link-url-2 }}">{% endif %}
            {{ settings.product-info-link-text-2 }}
          {% if settings.product-info-link-url-2.size > 0 %}</a>{% endif %}
        </p>
      {% endif %}
    </div>
    {% endif %}

    {% if settings.product-show-share-buttons %}
      {% include 'share-buttons' %}
    {% endif %}

    {% if product.metafields.ingredients %}
      {% assign ingredients = product.metafields.ingredients %}
      {% assign key = 'active' %}
      <p><strong>Active Ingredients</strong><br>
        {{ ingredients.active }}</p>
    {% endif %}

  </div>

</div><!-- close itemscope -->

    {% if product.metafields.disclaimers %}
      {% assign disclaimers = product.metafields.disclaimers %}
      {% assign key = 'disclaimer' %}
      <div class="product-wrap bottom">
        <p><em>{{ disclaimers.disclaimer }}</em></p>
      </div>
    {% endif %}

{% include 'product-page-related' %}

<script>
  // required for splitting variants
  // see ProductView
  window.productJSON = {{ product | json }};
</script>
