{% if collections[settings.home-order-now-product].products.size > 0 %}

<div class="home-module-wrapper {{ settings.home-order-now-style }}">
  <div class="home-module home-order-now">

    {% if settings.home-order-now-title.size > 0 %}
      <h3 class="section-title">{{ settings.home-order-now-title }}</h3>
    {% endif %}

    {% assign product = collections[settings.home-order-now-product].products.first %}
    {% assign selectedVariant = product.selected_or_first_available_variant %}

    <div class="product-details mobile">
      {% if settings.product-display-vendor %}
        <p class="meta vendor">{{ product.vendor }}</p>
      {% endif %}
      <h2><a href="{{ product.url }}">{{ product.title }}</a></h2>
      <p class="product-price">
        <span class="price">
          <span class="money">{{ selectedVariant.price | money }}</span>
          <span class="original money">
            {% if selectedVariant.compare_at_price > selectedVariant.price %}
              {{ selectedVariant.compare_at_price | money }}
            {% endif %}
          </span>
        </span>
      </p>
    </div>

    {% assign featured_image = selectedVariant.featured_image | default: product.featured_image %}
    <div class="product-slideshow clearfix">
      <div class="product-big-image {% if settings.product-enable-zoom %}can-zoom{% endif %}" data-no-image-svg="{{ 'no-image.svg' | asset_url }}" data-no-image-png="{{ 'no-image.png' | asset_url }}">
        {% if product.images.size > 0 %}
          {{ featured_image | img_url: 'master' | img_tag: featured_image.alt }}
        {% else %}
          <img class="product-no-images" src="{{ 'no-image.svg' | asset_url }}" alt="{{ 'products.product.no_image_available' | t }}" onerror="this.src='{{'no-image.png' | asset_url}}';this.onerror=null;" />
        {% endif %}

        {% if settings.product-enable-zoom %}<div class="product-image-zoom"></div>{% endif %}
      </div>

      {% if product.images.size > 1 %}
      <div class="product-thumbnails" style="display: none;">
        {% for image in product.images %}
          <img alt="{{ image.alt }}" data-high-res="{{ image | product_img_url: 'master' }}" src="{{ image | product_img_url: 'thumb' }}" class="{% if image == featured_image %}active{% endif %}">
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="product-wrap">

      <div class="product-details">
        {% if settings.product-display-vendor %}
          <p class="meta vendor">{{ product.vendor }}</p>
        {% endif %}
        <h2><a href="{{ product.url }}">{{ product.title }}</a></h2>
        <p class="product-price">
          <span class="price">
            <span class="money">{{ selectedVariant.price | money }}</span>
            <span class="original money">
              {% if selectedVariant.compare_at_price > selectedVariant.price %}
                {{ selectedVariant.compare_at_price | money }}
              {% endif %}
            </span>
          </span>
        </p>
      </div>

      {% if settings.home-order-now-description.size > 0 %}
      <div class="product-description rte">
        <p>{{ settings.home-order-now-description }}</p>

        <p><a href="{{ product.url }}">Read More</a></p>
      </div>
      {% else %}
      <div class="product-description rte">
        <p>{{ product.description }}</p>

        <p><a href="{{ product.url }}">Read More</a></p>
      </div>
      {% endif %}

      <form class="product-form" action="/cart/add" method="post" id="product-form">

        {% if product.variants.size > 1 %}
          <div class="product-options" style="text-indent: 100%; white-space: nowrap; overflow: hidden; height: 0;">
            <select name="id" id="product-select" class="product-select">
              {% for variant in product.variants %}
                <option {% if variant == selectedVariant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_without_currency | remove: ',' }}</option>
              {% endfor %}
            </select>
          </div>
        {% else %}
          <input type="hidden" name="id" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
        {% endif %}

        <div class="input-wrapper product-quantity" style="text-indent: 100%; white-space: nowrap; overflow: hidden; height: 0; margin: 0;">
          <label for="quantity">{{ 'general.quantity' | t }}</label>
          <input type="text" name="quantity" id="quantity" value="1" />
        </div>

        <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" > 
        <input name="email" type="hidden" value="{{ customer.email }}" > 
        <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" > 
        <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" > 
        <input name="city" type="hidden" value="{{ customer.default_address.city }}" > 
        <input name="company" type="hidden" value="{{ customer.default_address.company }}" > 
        <input name="country" type="hidden" value="{{ customer.default_address.country }}" > 
        <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" > 
        <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" > 
        <input name="phone" type="hidden" value="{{ customer.default_address.phone }}" > 
        <input name="province" type="hidden" value="{{ customer.default_address.province }}" > 
        <input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >
        {% include 'bold-ro' with product %}

        <div class="add-to-cart {% if settings.home-order-now-enable-express %}express{% endif %}">
          {% if product.available %}
            <div class="product-form-submit-wrap">
              {% if settings.home-order-now-enable-express %}
                {% capture addToCartText %}{{ 'products.product.buy_now' | t }}{% endcapture %}
              {% else %}
                {% capture addToCartText %}{{ 'products.product.add_to_cart' | t }}{% endcapture %}
              {% endif %}

              {% if product.metafields.chargify.hosted_signup_url %}
                <a class="button" style="margin-bottom: 5px" href="{{ product.metafields.chargify.hosted_signup_url }}">Subscribe</a>
              {% else %}
                <input type="submit" value="{{addToCartText}}" class="addtocart" />
                <div class="add-to-cart-loader"></div>
                <!-- bold-ro-liquid --> <div class="bold_add_to_orders" style="display: inline-block;"> </div> <!-- bold-ro-liquid -->
              {% endif %}

            </div>
            {% capture cart_link %}
              <a href="/cart">{{ 'products.product.cart_link' | t }}</a>
            {% endcapture %}
            {% capture continue_link %}
              <a href="/collections/all">{{ 'products.product.continue_link' | t }}</a>
            {% endcapture %}
            {% capture checkout_link %}
              <a href="/checkout">{{ 'products.product.checkout_link' | t }}</a>
            {% endcapture %}
            {% capture product_item %}
              <span class='added-product-name'></span>
            {% endcapture %}
            <p class="product-add-success-message">{{ 'products.product.success_html' | t: cart_link: cart_link, continue_link: continue_link, checkout_link: checkout_link, product: product_item  }}</p>
            <p class="product-add-error-message"></p>
          {% else %}
            <input type="button" class="disabled" disabled="disabled" value="{{ 'products.product.sold_out' | t }}" />
          {% endif %}
        </div>

      </form>

      {% if settings.product-show-info-link-1 or settings.product-show-info-link-2 %}
      <div class="product-more-info">
        {% if settings.product-show-info-link-1 %}
          <p class="product-info-link {{ settings.product-info-link-icon-1 }}">
            {% if settings.product-info-link-url-1.size > 0 %}<a href="{{ settings.product-info-link-url-1 }}">{% endif %}
              {{ settings.product-info-link-text-1 }}
            {% if settings.product-info-link-url-1.size > 0 %}</a>{% endif %}
          </p>
        {% endif %}

        {% if settings.product-show-info-link-2 %}
          <p class="product-info-link {{ settings.product-info-link-icon-2 }}">
            {% if settings.product-info-link-url-2.size > 0 %}<a href="{{ settings.product-info-link-url-2 }}">{% endif %}
              {{ settings.product-info-link-text-2 }}
            {% if settings.product-info-link-url-2.size > 0 %}</a>{% endif %}
          </p>
        {% endif %}
      </div>
      {% endif %}

    </div>

    <script>
      // required for splitting variants
      // see ProductView
      window.productJSON = {{ product | json }};
    </script>
  </div>
</div>

{% else %}
  
  <div class="home-module-wrapper {{ settings.home-order-now-style }}">
    <div class="home-module">
      <h3 class="section-title">{{ 'onboarding.order_now_section.section_title' | t }}</h3>
      <div class="home-helper">{{ 'onboarding.order_now_section.text_html' | t: theme_settings_link: themeSettingsLink }}</div>
    </div>
  </div>

{% endif %}

<script>
$(document).on("click","[name='recurring_radio_btn']", function() {

    if($('.recurring_div').hasClass('bold_active')){
        $('.cart-additional-checkout-buttons').hide();
    }else{
        $('.cart-additional-checkout-buttons').show();
    }
});

</script>

